*
{
box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width:max-content; 
    height:max-content;
    margin: 1.1vh 0vw 1.9vh 0vw;
    align-items: center;
}

h1{
    color: azure;
}

h2{
    color: azure;
}

h3{
    text-align: center;
    font-size: x-large;
    color: azure;
}
p{
    text-align: center;
    color: azure;
}
h4{
    text-align: center;
    color: white;
}
.container_padre{
    margin: 2.2vh 1.3vw 2.8vh 0;
    display: flex;
    flex-direction: column;
}
.container_padre h3{
    text-align: left;
}
.container_padre div{
    display: flex;
}
.ver-mas-boton {
    background-color:beige;
    color:black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: auto;
    align-self: flex-start; 
    margin-right: 10px; 
    margin-left: 0.5vw;
    margin-bottom: 1vh;
  }
  
  .ver-mas-boton:hover {
    background-color:blanchedalmond;
  }
.contenedorTodas{
    display: flex;
    flex-wrap: wrap;
}
