.foto-home:hover{
    transform: scale(1.10);
}

.foto-home{
    width: 18vw;
    height: 55vh;
    background-color: rgb(66, 66, 66);
    flex-direction: row;
    padding: 5%;
    margin: 0.7vh 0.976vw 0.7vh 0.976vw;
    transition: 0.3s;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    width:max-content; 
    height:max-content;
    margin: 1.1vh 0vw 1.9vh 0vw;
    align-items: center;
}
