.container_padre{
    margin: 2.2vh 1.3vw 2.8vh 0;
    display: flex;
    flex-direction: column;
}
.container_padre h3{
    text-align: left;
}
.container_padre div{
    display: flex;

}
.tituloLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

