.containHeader{
    display: flex;
    width: 100%;
    align-items: center;
}
.containHeader div{
    display: flex;
    justify-content: center;

}

.containHeader ul{
    width: 80%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    padding-left: 4%;
}

.containHeader a{
    text-decoration: none;
    color: azure;
}

.logo{
    height: 10vh;
    width: 14vw;
    margin-left: 35%;
    border-radius: 5px;
}
.iBusqueda{
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.iBusqueda input{
    height: 4.4vh;
    width: 10vw;
}

.iBusqueda button img{
    height: 3vh;
    width: 1.5vw;
}