.infoPelisTitulos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoPelisTitulos p{
    display: flex;
    color: burlywood;
}

.infoPelisDetalles{
    display: flex;
    flex-wrap: nowrap;
    color:azure;
    justify-content: space-between;
    padding: 0, 10vw;
    margin-left: 10px;

}
.fotoDetalle{
    background-color: rgb(66, 66, 66);
    margin: 3.05vh 3.05vw;
    width: 20%;
}
.fotoDetalle{
    width: 38vw;
} 
.sinopsis{
    margin-bottom: 0.5vh;
}
.detallepelis{
    display: flex;
    padding: 0.5vh 0.976vw 0vh 0.54vw;

}
.detallepelis p{
    color: azure;
    font-weight: bold;
}
.detallepelis button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; 
    margin-top: -2vh;
    width:fit-content;
  }
  
  .detallepelis button:hover {
    background-color: #ddd;
    color: #333;
  }